{% extends 'blog/base.html' %}
{% block content %}
<br>
<h2 class="text-center">关于我</h2>
    <p>刚开始做笔记和写博客是为了自己忘记东西，
        方便查找，到后来就养成了习惯。 写博客的过程中自己
        进步也越来越大，同时还能分享给其他人，予人玫瑰，手留余香。</p>
    <p>
    热爱编程这份职业，享受编程带给自己的成就感。相信简单就是美，专心做好一件事，还要做的漂亮，就是我所追求的。
    </p>

    <p>
    平时有时间就打打球呀，看看电影，偶尔也去旅个游， 人生最大的梦想就是带着喜欢的妹纸，去好远好远的地方看星辰大海，对自由的向往从不会放弃。
    </p>
    <br>
    <h4 style="font-size: 19px ">联系方式</h4>

    <ul>
    <li>邮件：312805939@qq.com</li>
    <li>QQ：312805939</li>
    <li>博客园：<a href="http://www.cnblogs.com/wangchaowei/">http://www.cnblogs.com/wangchaowei/</a></li>
    </ul>
    <hr>

{% endblock %}
