{% extends 'blog/base.html' %}
{% block content %}
    <br>
    <div class="panel panel-default">
        <div class="panel-heading"><h1>{{ article.title }}</h1></div>
        <div class="panel-footer">
            <h4>作者：王朝伟&nbsp&nbsp&nbsp&nbsp日期：{{ article.add_time }}</h4>
        </div>

        <div class="panel-body" style="font-size: medium">
            {% autoescape off %}
                {{ article.text }}
            {% endautoescape %}
        </div>
        <a onclick=" javascript :history.back(-1);">
            <button type="button" class="btn btn-link btn-lg btn-block"><< 返回</button>
        </a>
    </div>
{% endblock %}
